* {
    box-sizing: border-box;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: khaki;
    background-image: url("../images/pattern.jpeg");
    text-align: center;
}

#brushes h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#brushes h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

#brushes .price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

#frames h2 {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#frames h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

#frames .price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

#paint h2 {
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#paint h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}

#paint .price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}